<!DOCTYPE html>
<html lang=eng>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/Kynamic-K-Logo.png">

    <title>Home</title>
</head>
<body>
    <div class="centered">
        <img src="../assets/Kynamic-Text-Logo_Kynamic-Text-Logo.png" alt="Logo" height=500% width=500%></img>
    </div>
    <div class="expect-text">
        <h5 class="expect">Expect Great Things</h5>
    </div>
</body>
</html>